﻿@using WaitNoMore.Web.Models

@model QueueViewModel

@{
    ViewBag.Title = "Queues";
}

@functions{
    string GetState(QueuerViewModel queuer)
    {
        switch (queuer.Status)
        {
            case "done": return "success";
            case "pending": return "info";
            case "expired": return "danger";
            case "current": return "active";
            default: return "warning";
        }
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h3>@Model.Name <small>@Model.Account.Name</small></h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_LeftHandPanel", Model.Account.Queues)
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4 col-md-offset-8 col-md-pull-4">
                    <div style="padding-bottom: 80px;">
                        <h1 class="text-danger text-capitalize text-center">@(Model.MostCurrentQueuer == null ? "None" : Model.MostCurrentQueuer.Number.ToString())</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="@Url.Action("Next", new { controller = "Queues", id = Model.Id, qCode = Model.Code, aCode = Model.Account.Code })" class="btn btn-primary btn-block" role="button">
                        <i class="fa fa-phone fa-lg"></i> Call Next
                    </a>
                       @*@Html.ActionLink("Call Next", "Next", new { controller = "Queues", id = Model.Id, qCode = Model.Code, aCode = Model.Account.Code }, new { @class = "btn btn-primary btn-block", @role = "button" })*@
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Ping", new { controller = "Queues", id = Model.MostCurrentQueuer == null ? 0 : Model.MostCurrentQueuer.Id, qId = Model.Id })" class="btn btn-warning btn-block" role="button">
                        <i class="fa fa-microphone fa-lg"></i> Ping!
                    </a>
                    @*@Html.ActionLink("Ping!", "Ping", new { controller = "Queues", id = Model.MostCurrentQueuer == null ? 0 : Model.MostCurrentQueuer.Id, qId = Model.Id }, new { @class = "btn btn-warning btn-block", @role = "button" })*@
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Skip", new { controller = "Queues", id = Model.MostCurrentQueuer == null ? 0 : Model.MostCurrentQueuer.Id, qId = Model.Id, qCode = Model.Code, aCode = Model.Account.Code })" class="btn btn-danger btn-block" role="button">
                        <i class="fa fa-fire fa-lg"></i> Skip
                    </a>
                    @*@Html.ActionLink("Skip", "Skip", new { controller = "Queues", id = Model.MostCurrentQueuer == null ? 0 : Model.MostCurrentQueuer.Id, qId = Model.Id, qCode = Model.Code, aCode = Model.Account.Code }, new { @class = "btn btn-danger btn-block", @role = "button" })*@
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("New", new { controller = "Queuers", qId = Model.Id, qCode = Model.Code, aCode = Model.Account.Code })" class="btn btn-success btn-block" role="button">
                        <i class="fa fa-thumbs-up fa-lg"></i> Add Queuer
                    </a>
                    @*@Html.ActionLink("Add Queuer", "New", new { controller = "Queuers", qId = Model.Id, qCode = Model.Code, aCode = Model.Account.Code }, new { @class = "btn btn-success btn-block", @role = "button" })*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <td><strong>Requester</strong></td>
                            <td><strong>Q Number</strong></td>
                            <td><strong>Status</strong></td>
                            <td><strong>Sender</strong></td>
                            <td><strong>Sender Type</strong></td>
                            <td><strong>Action</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var queuer in Model.Queuers)
                        {
                            <tr class="@GetState(queuer)">
                                <td>@queuer.Requester</td>
                                <td>@queuer.Number</td>
                                <td>@queuer.Status</td>
                                <td>@queuer.Sender</td>
                                <td>@queuer.SenderType</td>
                                <td>
                                    <a href="@Url.Action("Complete", "Queues", new { id = queuer.Id, qId = Model.Id })" class="btn btn-danger btn-xs">
                                        <i class="fa fa-minus-circle"></i>
                                        End Session
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
