﻿@using WaitNoMore.Web.Models

@model QueuerViewModel

@{
    ViewBag.Title = "Queuer";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h3>@Model.Queue.Name <span class="badge">@Model.Queue.Code</span></h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_LeftHandPanel", Model.Queue.Account.Queues)
    </div>
    <div class="col-md-9">
        @using (Html.BeginForm("New", "Queuers", new { qId = Model.Queue.Id, qCode = Model.Queue.Code, aCode = Model.Queue.Account.Code }, FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(q => q.Requester, "Requester Name: ")
                @Html.TextBoxFor(q => q.Requester, new { @class = "form-control", @placeholder = "Request Name" })
            </div>
            <div class="form-group">
                @Html.LabelFor(q => q.Requester, "Requester Mobile: ")
                @Html.TextBoxFor(q => q.Sender, new { @class = "form-control", @placeholder = "Request Name" })
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        }
    </div>
</div>