﻿@model WaitNoMore.Web.Models.AccountViewModel

@{
    ViewBag.Title = "Accounts";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h3>@Model.Name <span class="badge">@Model.Code</span></h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_LeftHandPanel", Model.Queues)
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <form>
                <div class="form-group">
                    <label>Account Name:</label>
                    @Html.TextBox("Account Name:", Model.Name, new { @class = "form-control", @readonly = true })
                </div>
                <div class="form-group">
                    <label>Account Code:</label>
                    @Html.TextBox("Account Code:", Model.Code, new { @class = "form-control", @readonly = true })
                </div>
                <div class="form-group">
                    <label>Number of Queues:</label>
                    @{
                        var queueCount = Model.Queues == null ? 0 : Model.Queues.Count();
                    }
                    @Html.TextBox("Account Code:", queueCount, new { @class = "form-control", @readonly = true })
                </div>
            </form>
        </div>
    </div>
</div>