﻿@using WaitNoMore.Web.Models

@model ClientSelectionViewModel

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron bg-info">
    <div class="row">
        <div class="col-md-4 col-md-offset-8 col-md-pull-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Select Client and Account</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {
                        <div class="form-group">
                            @Html.DropDownListFor(vm => vm.SelectedClient, Model.Clients, "-- Select Client --", new { @class = "center-block form-control", @id = "clients" })
                        </div>
                    }
                    @using (Html.BeginForm("Account", "Home", FormMethod.Get))
                    {
                        <div class="form-group">
                            @Html.DropDownListFor(vm => vm.SelectedAccount, Model.Accounts, "-- Select Account --", new { @class = "center-block form-control", @id = "accounts" })
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Select</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#clients').on('change', function () {
                $(this).closest('form').submit();
            });
        });
    </script>
}