﻿@using System.Collections.Generic
@using WaitNoMore.Web.Models

@model IEnumerable<QueueViewModel>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Account Queues</h3>
    </div>
    <ul class="list-group">
        @foreach (var q in Model)
        {
            <li class="list-group-item"><a href="@Url.Action("Index", "Queues", new { id = q.Id })">@q.Name  <span class="badge">@q.Code</span></a></li>
        }
    </ul>
</div>